/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}

hr {
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}

/* Header */
.header_padding {
  padding: 8px 16px;
}

/* Main */
.article_box {
  border-style: solid;
  border-width: 2px;
  margin: 16px auto;
  padding: 16px;
  max-width: 350px;
  min-height: 170px;
}

/* Footer */
.footer_padding {
  padding: 8px 16px;
}
